/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 2rem;
  font-family: helvetica, arial, sans-serif;
  background-color: maroon;
  color: white;
}

h1 {
  font-family: verdana, arial, sans-serif;
}

button {
  padding:10px;
  border-radius: 10px;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}